<h1>Editing apt</h1>

<%= render 'form' %>

<%= link_to 'Show', hunt_apt_path(@hunt, @apt) %> |
<%= link_to 'Back', hunt_apt_path(@hunt, @apt) %>
<%= link_to 'Delete', hunt_apt_path(@hunt, @apt), :method => :delete, data: {confirm: 'Are you sure?' } %>
